#root {
  padding: 2rem;
  text-align: center;
}

.topImgs {
  display: flex;
  align-items: center;
  align-items: center;
  padding-left: 15%;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}
.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #6ddcfbaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 3em #6ddcfbaa);
}
.imgYuho {
  object-fit: scale-down;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media only screen and (min-width: 769px) {
  .topImgs {
    padding-left: unset;
  }
  .logo-wrapper {
    justify-content: end;
  }
  .logo {
    max-width: 50%;
  }
}
