#root {
  padding: 2rem;
  text-align: center;
}

.app-wrapper {
  margin: 0 auto;
  max-width: 790px;
  min-width: 255px;
  width: 100%;
  padding: 0 1rem;
}

.topImgs {
  display: flex;
  align-items: center;
  align-items: center;
  padding-left: 15%;
  padding-bottom: 20px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}
.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #6ddcfbaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 3em #6ddcfbaa);
}
.imgYuho {
  position: relative;
  object-fit: scale-down;
  z-index: -1;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Desktop */
@media only screen and (min-width: 769px) {
  .topImgs {
    padding-left: unset;
  }
  .logo-wrapper {
    justify-content: end;
  }
  .logo {
    max-width: 50%;
  }
}
