#root {
  padding: 2rem;
  text-align: center;
}

.app-wrapper {
  margin: 0 auto;
  max-width: 790px;
  min-width: 255px;
  width: 100%;
  padding: 0 1rem;
}

.topImgs {
  padding-bottom: 20px;
}

.logo {
  margin: 0 auto;
}

.logo:hover {
  cursor: pointer;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Desktop */
@media only screen and (min-width: 769px) {
  .logo {
    max-width: 70%;
  }
}
